<div class="container d-flex flex-column justify-content-center align-items-center w-50 mt-4">
  <h1>New recipe</h1>
  <%= render "form", recipe: @recipe %>
  <br>
  <div>
    <%= link_to "Back to recipes", recipes_path %>
  </div>
</div>
