<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to 'RecipeApp', root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <%= link_to 'Foods', foods_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to 'Recipe', foods_path, class:"nav-link"%>
        </li>
      </ul>
      <ul class="d-flex">
        <button class="btn btn-outline-light">Sign in</button>
        <button class="btn btn-outline-success">Sign out</button>
      </ul>
    </div>
  </div>
</nav>